<div class="header">
  <div class="container">
    <div class="row">

      <div class="col-sm-1 col-md-2">
        <a href="/">
          <img src="{{ site.logo }}" class="header__logo" />
        </a>
      </div><!-- End Column -->

      <div class="col-sm-11 col-md-10">
        <div class="header__menu">
          <div class="hamburger">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
          </div>

            <ul class="header__menu--nav">
                {% for mitem in site.links %}
                <li class="header__menu--nav--item">
                  <a href="{{ mitem.url }}" id="{{ mitem.id }}" class="{{ mitem.class }}">{{ mitem.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div><!-- End Header Menu -->
      </div><!-- End Column -->

    </div><!-- End Row -->
  </div><!-- End Container -->
</div><!-- End Header -->
