<div class="banner">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="banner__title">
          <h3 class="banner__title--intro">Hello, I'm</h3>
          <h1 class="banner__title--owner">{{ site.owner.name }}</h1>
          <p>{{ site.owner.description }}</p>
          <ul class="banner__sociallinks">
           {% for sitem in site.social %}
            <li class="social__link--{{ sitem.class }}"><a class="fa fa-{{ sitem.class }}" href="{{ sitem.url }}"></a></li>
           {% endfor %}
         </ul>
        </div>
      </div><!-- End Column -->

    </div><!-- End Row -->
  </div><!-- End Container -->
</div><!-- End Banner -->
