<div id="{{ page.header.id }}">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h2>{{ page.header.title }}</h2>
      </div>
    </div><!-- End Row -->

    <div class="row">

      <div class="col-xs-12 col-md-4">
        <div class="contact__item--wrapper">
          <div class="contact__item">
            <h4>{{ site.owner.email }}</h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="contact__item--wrapper">
          <div class="contact__item">
            <h4>{{ site.owner.phone }}</h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="contact__item--wrapper">
          <div class="contact__item">
            <h4>{{ site.owner.address }}</h4>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-12">
            {% include "forms/form.html.twig" %}
      </div>

    </div>

  </div><!-- End Container -->
</div>
