{% extends 'partials/base.html.twig' %}
{% block content %}
<div class="post">
<div class="post__heading">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="post__heading--title">{{ page.title }}</h1>
        <span class="post__heading--author">By <strong>{{ site.author.name }}</strong> On  <strong><time datetime="{{ page.date | date(site.date_long) }}">{{ page.date | date("d M Y") }}</time></strong></span>
        <span class="post__heading--breadcrumb"><a href="{{ home_url}}">Home</a> / <a href="../blog">Blog</a> /<strong> {{ page.title }}</strong></span>
      </div><!-- End Column -->
    </div><!-- End Row -->
  </div><!-- End Container -->
</div><!-- Post heading -->

<div class="post__content">
  <div class="container">
    <div class="row">
      <div class="col-md-11">

        {{ page.content }}

      </div><!-- End Column -->
    </div><!-- End Row -->
  </div><!-- End Container -->
</div><!-- End Post Content -->


<div class="post__meta">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="post__meta--tags">
          Tags -
            {% for tag in page.taxonomy.tag %}
              <span class="label"><a href="../search/{{ tag }}" data-toggle="tooltip" title="Posts tagged with {{ tag }}" rel="tag">{{ tag }}</a></span>
            {% endfor %}
        </div>
      </div><!-- End Column -->
    </div><!-- End Row -->
  </div><!-- End Container -->
</div><!-- End Post Content -->

<div class="post__comments">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
            {% if config.plugins.jscomments.enabled %}
              {{ jscomments()|raw }}
            {% endif %}
      </div><!-- End Column -->
    </div><!-- End Row -->
  </div><!-- End Container -->
</div><!-- End Post Meta -->




</div><!-- End Post -->




{% endblock %}
