{% extends 'partials/base.html.twig' %}
{% block content %}
<div class="post">
<div class="post__heading">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="post__heading--title">{{ page.title }}</h1>
        <p class="post__heading--title">By <strong>{{ page.header.author }}</strong> On  <strong><time datetime="{{ page.date | date(site.date_long) }}">{{ page.date | date("d M Y") }}</time></strong></p>
        <p class="post__heading--breadcrumb"><a href="{{ home_url}}">Home</a> / <a href="../blog">Blog</a> / {{ page.title }}</p>
      </div><!-- End Column -->
    </div><!-- End Row -->
  </div><!-- End Container -->
</div><!-- Post heading -->

<div class="post__content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {{ page.content }}

      </div><!-- End Column -->
    </div><!-- End Row -->
  </div><!-- End Container -->
</div><!-- End Post Content -->

<div class="post__meta">
  <div class="container">
    <div class="row">
        <div class="post__meta--wrapper">
          <p>Test</p>
        </div>
    </div><!-- End Row -->
  </div><!-- End Container -->
</div><!-- End Post Meta -->




</div><!-- End Post -->

  <div class="row">
    <div class="col-xs-12">
      <div class="post__header">
        <div class="post__title">
          <p>
            {% for tag in page.taxonomy.tag %}
              <span class="label"><a href="{{ base_url_absolute }}/tag:{{ tag }}" data-toggle="tooltip" title="Posts tagged with {{ tag }}" rel="tag">{{ tag }}</a></span>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
